header {
  background: var(--azul);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;

  margin: auto;
  min-height: var(--area-main);
}

.register-title {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.erro{
  background-color: #f8d7da;
  border: 1px #f5c6cb;
  color: #721c24;
  text-align: center;

  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  margin: 10px;
}

.tab-links button {

  border: none;
  background: transparent;

  font-size: 1.5rem;

  padding: 16px;

  outline: none;

  position: relative;
  cursor: pointer
}

.tab-links button::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 2px;
  width: 0%;

  background-color: var(--laranja);

  transition: .4s;
}

.tab-links button:hover::after,
.tab-links button.active::after {
  width: 100%;
}

.tab-content-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-content-user {
  margin-top: 2rem;
}

.tab-content-user>section{
  animation: up .5s;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

.form  input {
  width: 30rem;
  height: 3rem;

  margin: 10px;
  padding: 0.375rem 0.75rem;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  background-color: #f8fafc;

  font-size: 1rem;
  color: #212529;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.5;
}


.campo_senha {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button_mostrar_senha{
  position: absolute;
  right: 0;
  margin: 0 20px;
  z-index: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.register-btn {
  background: var(--azul);

  padding: 15px 25px;
  margin: 10px;

  border-radius: 10px;
  border: none;

  color: white;
  font-weight: bold;
  font-size: 1.2rem;

  cursor: pointer;
}

.select-estados-cidades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-estados-cidades select {
  width: 14.3rem;
  height: 3rem;

  margin: 10px;
  padding: 0.375rem 0.75rem;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  background-color: #f8fafc;

  font-size: 1rem;
  color: #212529;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.5;
}

.select-estados-cidades select option {
  font-size: 1rem;
  color: #212529;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.5;
}

.form .erro-input{
  border: 1px solid #721c24;
}

/* Responsividade */
@media (max-width: 480px) {
  .form input,  .select-estados-cidades select{
    width: 17rem;
  }

  .select-estados-cidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
