header {
  background: var(--azul);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
  margin: auto;

  padding: 2rem;

  min-height: var(--area-main);
}

/* =========== ADM ================ */
.filtro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 50px;
  flex-wrap: wrap;
}

.filtro h3 {
  font-size: 1.5rem;
}

.filtro input {
  width: 15rem;
  height: 3rem;

  padding: 0.375rem 0.75rem;
  margin: 10px;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  background-color: #f8fafc;

  font-size: 1rem;
  color: #212529;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.5;
}

.filtro button {
  padding: 5px 15px;
  margin: 10px 0;

  border-radius: 10px;
  border: none;

  background: var(--azul);
  color: white;
  font-size: 1.1rem;

  cursor: pointer;
}

.select-estados-cidades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-estados-cidades select, .filtro .select-estados-cidades select {
  width: 15rem;
  height: 3rem;

  margin: 10px;
  padding: 0.375rem 0.75rem;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  font-size: 1rem;
  color: #212529;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.5;
}

.filtro .select-estados-cidades select{
  background: #f8fafc;
}

.select-estados-cidades select option {
  font-size: 1rem;
  color: #212529;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.5;
}

.select-estados select:disabled{
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    border-color: rgba(118, 118, 118, 0.3);

}

.tab-links{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tab-links button {

  border: none;
  background: transparent;

  font-size: 1.2rem;

  padding: 16px;
  width: 100%;

  outline: none;

  position: relative;
  cursor: pointer;
}

.tab-links button::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 2px;
  width: 0%;

  background-color: var(--laranja);

  transition: .4s;
}

.tab-links button:hover::after,
.tab-links button.active::after {
  width: 100%;
}

.tab-content {
  margin-top: 5rem;
}

.tab-content>section,  #tabs .tab-content-user>section{
  animation: up 0.5s;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

.tab-content-user{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.tab-content-user #option-1-content,  .tab-content-user #option-2-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  margin-top: 20px;
}

.data-user-details-adm {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--border-color);

  margin: 10px 0;

  width: 100%;
} 

.data-user-details-adm .data-user-details-items-adm {
  min-width: 213px;
}

.data-user-details-adm .data-user-details-items-adm p{
  font-size: 1.1rem;
}

.data-user-details-adm .data-user-details-items-adm button {
  padding: 5px 10px;
  margin: 10px 5px;

  border-radius: 10px;
  border: none;

  background: var(--laranja);
  color: white;
  font-size: 1rem;

  cursor: pointer;
}

/* =========== USER ================ */
.data-user-title {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 16px;
}

.data-user-title .avatar{
  position: relative;
}

.data-user-title .avatar #avatarUser{
  height: 5rem;
  width: 5rem;

  border-radius: 50%;
}

.data-user-title .avatar .edit-avatar{
  display: flex;
  align-items: center;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  right: 0;
}

.data-user-title .avatar .edit-avatar-icon{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;


}

input[type="file"]{
  display: none;
}

.data-user-title p {
  font-size: 1.1rem;
}

.data-user-title a {
  text-decoration: underline;
}

.data-user-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2.5rem;

  margin: 20px 0;
}

#data-user, #tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 32px 16px;
}

.data-user-details{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 24px;
  width: 100%;
}

.data-user-details .data-user-details-items-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.data-user-details .data-user-details-items-area .area{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data-user-details .data-user-details-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;  
}

.data-user-details .data-user-details-items h3, .data-user-details-items-area h3{
  font-size: 1.4rem;
  margin: 0;
}

.data-user-details .data-user-details-items p, .data-user-details-items-area p {
  font-size: 1.1rem;
}

.buttons-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.data-user-action,
.data-user-delete {
  padding: 12px 22px;
  margin: 5px;

  border-radius: 10px;
  border: none;

  color: white;
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
}

.data-user-action {
  background: var(--azul);
}

.data-user-delete {
  background: var(--laranja);
}

.data-user-action-rede{
  padding: 7px 15px;
  margin: 5px;

  border-radius: 10px;
  border: none;

  color: white;
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
  background: var(--azul);
} 

/* ============= MODAL EDITAR ===================== */

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #212529;
}

#alterarDadosPsicologo .select-estados-cidades select{
  height: 2.5rem;
  font-size: 1rem;
  color: #212529;
  border: 1px solid #ced4da;

}

.modal-body input {
  width: 100%;
  min-width: 3rem;
  height: 2.5rem;

  padding: 0.3rem 0.5rem;
  margin: 10px;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  font-size: 1rem;
  color: #212529;
  white-space: nowrap;
  font-weight: 400;
}

.modal-body input::placeholder {
  font-size: 0.95rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-user-action-cancel,
.data-user-action-save,
.data-user-adm {
  padding: 10px 10px;

  border-radius: 5px;
  border: none;

  color: white;
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
}

.data-user-action-cancel {
  background: #747474;
}

.data-user-action-save {
  background: var(--azul);
}

.data-user-action-save, .data-user-adm.aprovar {
  background: var(--azul);
}

.data-user-adm.reprovar {
  background: var(--laranja);
}

.modal-text {
  text-align: justify;
}

.modal-text {
  text-align: justify;
}

.modal-body .select-estados-cidades select:disabled{
  background-color: #fafafa;
}

.modal-body .select-estados-cidades{
  width: 100%;
  margin: 0;
}

.modal-body .select-estados-cidades select {
  width: 100%;
}

.modal-body .select-estados-cidades select:first-child {
  margin-left: 0;
}

.modal-body .select-estados-cidades select:last-child {
  margin-right: 0;
}

.modal-footer{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
}

.label-alterar-senha{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 8px;
}

.label-alterar-senha input{
  width: fit-content;
  height: fit-content;
  min-width: 0;
  min-height: 0;
  margin: 0;
  accent-color: var(--azul);
}

.alterar-senha{
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: aparecerCampos 0.2s;
}

@keyframes aparecerCampos {
  from {
    transform: translateY(-8px);
  }
}

.alterar-senha .campo-senha {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.alterar-senha .campo-senha input{
  width: 100%;
  margin: 10px 0;
}

.button_mostrar_senha{
  position: absolute;
  right: 0;
  margin: 0 10px;
  z-index: 0;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.erro-input{
  border: 1px solid #721c24 !important;
}

 /* ============= MODAL TROCAR REDE ===================== */
#trocarArea .modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

#trocarArea .modal-body h3{
  color: var(--azul);
  font-size: 1.4rem;
  font-family: 'Mont-SemiBold';
  margin: 0;
}

#trocarArea .modal-body p{
  font-size: 1rem;
}

#trocarArea .modal-body select{
  width: 90%;
  height: 2.5rem;

  margin: 10px;
  padding: 0.375rem 0.75rem;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  font-size: 0.95rem;
  color: #212529;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.5;
}

#trocarArea .modal-body button{
  cursor: pointer;

  background: var(--laranja);
  color: #fff;

  border: none;
  border-radius: 8px;

  padding: 10px 15px;
  margin: 8px 0;
  width: 180px;

  font-size: 1rem;
}

#trocarArea .modal-body .obs{
  font-size: 0.9rem;
}

.link{
  color: var(--laranja);
}

#trocarArea .modal-body .lista-testes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
}

#trocarArea .modal-body .separator{  
  color: #29292e6e;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}
#trocarArea .modal-body .separator::before, #trocarArea .modal-body .separator::after{
  content:"";
  width: 50%;
  height: 1px;
  background: #29292e41;
}

.erro, .erro_adm{
  background-color: #f8d7da;
  border: 1px #f5c6cb;
  color: #721c24;
  text-align: center;

  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sucesso, .sucesso_adm{
  background-color: #d4edda;
  border: 1px #c3e6cb;
  color: #155724;
  text-align: center;

  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  margin-top: -24px;
  margin-bottom: 16px;
}

.erro_adm, .sucesso_adm{
  margin-top: 24px;
  margin-bottom: 24px;
}
/* ================ RESPONSIVIDADE =================*/
@media (max-width: 570px){
  .data-user-details-adm{
    flex-direction: column;
  }
}

@media (max-width: 550px){
  .data-user-details-adm{
    flex-direction: column;
  }
  main form, .select-estados-cidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-body .select-estados-cidades select:first-child {
    margin: 10px auto;

  }
  
  .modal-body .select-estados-cidades select:last-child {
    margin: 10px auto;
  }
}

@media (max-width: 450px){
  #trocarArea .modal-body .lista-testes{
    flex-direction: column;
    gap: 16px;
  }
  .tab-links{
    flex-direction: column;
  }
}

@media(max-width: 355px){
  .modal-footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}

@media (max-width: 300px) {
  main {
    transform: scale(0.9);
  }
}