header {
  background: var(--azul);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  min-height: var(--area-main);
}

.section-title .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.tab-links button {

  border: none;
  background: transparent;

  font-size: 1.5rem;

  padding: 16px;

  outline: none;

  position: relative;
}


.tab-links button::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 2px;
  width: 0%;

  background-color: var(--laranja);

  transition: .4s;
}

.tab-links button:hover::after,
.tab-links button.active::after {
  width: 100%;
}

#tabs .tab-content {
  margin-top: 2rem;
}

#tabs .tab-content>section,  #tabs .tab-content-adm>section{
  animation: up 0.5s;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

#tabs .tab-content-adm #option-1-content,  #tabs .tab-content-adm #option-2-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tab-content-adm .card{
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 350px;
  min-width: 200px;
  
  padding: 10px;
  margin: 20px;

  background: #ffffff;

  border-radius: 10px;
  border: none;

  transition: all 0.2s;

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);

}

.tab-content-adm .card p {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--azul);
}

.tab-content-adm .card button {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0;
  cursor: pointer;
  background: var(--laranja);
  transition: all 0.2s;
  will-change: transform;
}

.section-cta .cta-psicologos, .section-cta .cta-testes{
  font-size: 1.2rem;
  background: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
} 

.section-cta .cta-psicologos button, .section-cta .cta-testes button {
  background: var(--laranja);
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.section-description .description-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.section-description .description-title p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.3rem;
}

.section-description .description-content {
  margin-top: -15px;
  font-size: 1.1rem;
}

.section-description-question, .tab-content  {
  font-weight: 600;
  font-size: 1.3rem;
}

.section-description-question .section-description-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-description-question .section-description-options input {
  height: 100px;
  width: 100px;
}

/* ================= Usuário ja na rede ================== */
.cards{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.card-area, .card-rede{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 350px;
  min-height: 400px;
  
  padding: 40px 25px;
  margin: 20px;

  background: #ffffff;

  border-radius: 10px;
  border: none;

  transition: all 0.2s;

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
}

.card-area p{
  font-size: 1.5rem;
  margin: 0;
}

.card-area h2{
  margin: 0;
  font-size: 2rem;
  color: var(--laranja);
  text-transform: uppercase;
}

.card-area span{
  font-size: 1rem;
  color: var(--azul);
}

.card-area span .link{
  color: var(--laranja);
}

.card-area button, .card-rede button{
  border: none;
  border-radius: 10px;

  padding: 10px 15px;
  margin: 5px;
  width: 130px;

  color: white;
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;

  background: var(--laranja);
}

.card-rede .last-posts{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.card-rede .last-posts .post{
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1.8px solid var(--azul);
  width: 100%;
}

.post .data-user{
  display: flex;
  align-items: center;
  gap: 4px;
}

.post .data-user img {
  height: 20px;
  width: 20px;
}

.post .data-user span{
  font-size: 0.9rem;
}

.post .conteudo{
  text-align: justify;
  margin-bottom: 8px;
  font-size: 1rem;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-rede h2{
  margin: 0;
  font-size: 2rem;
  color: var(--laranja);
}

@media (max-width: 300px) {
  main {
    transform: scale(0.9);
  }
}
