header {
  background: var(--azul);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 900px;
  margin: auto;
  min-height: var(--area-main);
}

main .section-title .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

main .tab-links button {

  border: none;
  background: transparent;

  font-size: 1.5rem;

  padding: 16px;

  outline: none;

  position: relative;
}


main .tab-links button::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 2px;
  width: 0%;

  background-color: var(--laranja);

  transition: .4s;
}

.tab-links button:hover::after,
.tab-links button.active::after {
  width: 100%;
}

main #tabs .tab-content {
  margin-top: 5rem;
}

main #tabs .tab-content>section,  main #tabs .tab-content-adm>section{
  animation: up 0.5s;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

#tabs .tab-content-adm #option-1-content,  #tabs .tab-content-adm #option-2-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

main .tab-content-adm .card{
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 350px;
  min-width: 200px;
  
  padding: 10px;
  margin: 20px;

  background: #ffffff;

  border-radius: 10px;
  border: none;

  transition: all 0.2s;
}

main .tab-content-adm .card p {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--azul);
}

main .tab-content-adm .card button {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 0;
  cursor: pointer;
  background: var(--laranja);
  transition: all 0.2s;
  will-change: transform;
}

main .section-cta button {
  background: var(--laranja);
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.2s;
  will-change: transform;
}

main .section-cta button:hover,  main .card button:hover{
  transform: scale(1.1);
  transition: all 0.2s;
}

main .section-description .description-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

main .section-description .description-title p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.3rem;
}

main .section-description .description-content {
  margin-top: -15px;
  font-size: 1.1rem;
}

main .section-description-question, .tab-content  {
  font-weight: 600;
  font-size: 1.3rem;
}

main .section-description-question .section-description-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main .section-description-question .section-description-options input {
  height: 100px;
  width: 100px;
}

@media (max-width: 300px) {
  main {
    transform: scale(0.9);
  }
}
